<% include ../partials/header %>

<h1>
	Edit comment
</h1>
<div class="container">
	<div style="width: 30%; margin: 0 auto;">
		
	<form action="/niania/<%= niania_id %>/comments/<%=comment.id%>?_method=PUT" method="POST">
		<div class="form-group">
			<input class="form-control" type="text" name="comment[text]" value="<%= comment.text%>" placeholder="text">
		</div>
		
		<!-- <div class="form-group">
			<input class="form-control" type="text" name="comment[author]" placeholder="author">
		</div> -->
		
<div>
	<button class="btn btn-primary btn-block">
		Submit
	</button>
</div>	
</form>
	</div>
	
<a href="/niania">Go Back</a>
<% include ../partials/footer %>
	
</div>