<% include ./partials/header %>

<div class="container">

<div class="container border border-info b-2 m-2 p-2 text-center">
	<h1>
	Kontakt
</h1>
	<a href="#">
	<span style="color: yellow;">
	<i class="far fa-envelope fa-4x p-4 m-4"></i>
	</span>
	</a>
	
	<a href="#">
	<span style="color: yellow;">
	<i class="fab fa-facebook-messenger fa-4x p-4 m-4"></i>
	</span>
	</a>	
	
	<a href="#">
	<span style="color: yellow;">
	<i class="fab fa-instagram fa-4x p-4 m-4"></i>
	</span>
	</a>
		
</div>

</div>

<% include ./partials/footer %>