<% include ./partials/header %>

<style> 
body {background-color: black;
background-image: url("https://www.awarenessdays.com/wp-content/uploads/2018/12/Dog-Pictures-4.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
			}
		
		</style>
<div class="container">
		<header class="jumbotron">
				<div class="container">
					<h1 style="color: white; font-size: 4em;">Witaj w serwisie Psia-Niania </h1>
						</div>
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>
						</br>
				<div>
				<a class="btn btn-primary btn-lg float-right" href="/niania">Znajdz swoją Nianie</a>
				</div>
				</div>
			</div>
		</header>
</div>

<% include ./partials/footer %>
