<% include ./partials/header %>

<h1>
	Zarejestuj się jako niania :D
</h1>
<div class="container">
	<div style="width: 30%; margin: 0 auto;">
		
	<form action="/niania" method="POST">
		<div class="form-group">
			<input class="form-control" type="text" name="name" placeholder="name">
		</div>
		
		<div class="form-group">
			<input class="form-control" type="text" name="image" placeholder="image">
		</div>
<div>
	<button class="btn btn-primary btn-block">
		Submit
	</button>
</div>	
</form>
	</div>
	
<a href="/niania">Go Back</a>
<% include ./partials/footer %>
	
</div>