<% include ../partials/header %>
<div class="container">

	
<h1>
	Oto nianie
</h1>

<div class="container">	
	<div class="row" style="display:flex; flex-wrap: wrap;">

<% niania.forEach(function(niania){%>
		<div class="col-md-3 col-sm-6 border border-4 img-thumbnail img-fluid">
			<h2><%= niania.name %></h2>
				<img src="<%= niania.image %>" class="img-thumbnail img-fluid" style="height: 120px; max-width: 150px;">
					<div class="caption">
						<p>
							<a href="/niania/<%=niania._id %>">Opis</a>
						</p>
			</div>
			</div>
		</dic>
	
<% }); %>
		
	</div>
</div>	
</div>
		
<% include ../partials/footer %>