<% include ../partials/header %>
<div class="container justify-content-between">

	
<h1 class="text-center p-2">
	aktualnie dostępne nianie
</h1>
	</br>
</br>

<div class="container border border-warning">	
	<div class="row" style="display:flex; flex-wrap: wrap;">

<% niania.forEach(function(niania){%>
		<div class="col-md-3 col-sm-6 border-warning img-thumbnail img-fluid p-1" id="commentText">
			<h2 class="text-center"><%= niania.name %></h2>
				<img src="<%= niania.image %>" class="img-thumbnail img-fluid" style="height: 120px; width: 100px;">
					<div class="caption">
						<p>
							<a class="btn btn-primary float-right" href="/niania/<%=niania._id %>">info</a>
						</p>
			</div>
			</div>
		</dic>
	
<% }); %>
		
	</div>
</div>
	<div class="container p-4">
		<a class="btn btn-primary float-right" role="button" href="/niania/new" class="text-right">add new Niania</a>
	</div>
</div>
		
<% include ../partials/footer %>